<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Header</title>
</head>
<body>
    <!--
     comment.
        Fragment 문법은 공통적으로 반복되는 HTML 코드를
        줄이기 위해 존재하는 문법이다.
        일반적인 웹 페이지에서는 반복되는 공통 영역들이
        존재하게 된다. ex) header, footer, navigation bar, sidebar
     -->
    <!-- th:fragment = 다른곳 에서 사용할 때 필요한 이름 작성 -->
    <header th:fragment="headerFragment" class="header">
        <h1>Fragment Header</h1>
    </header>
</body>
</html>