<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>전체 조회</title>
</head>
<body>
    <h1>🥩🍖메뉴 전체 조회 결과🥩🍖</h1>
    <hr>
    <table border="1">
        <tr>
        <th>메뉴 번호</th>
        <th>메뉴 이름</th>
        <th>메뉴 가격</th>
        <th>카테고리 코드</th>
        <th>판매 여부</th>
        </tr>
        <tr th:each="menu:${menu}">
            <td> <a th:href="@{/menu/code(code=${menu.menuCode})}" th:text="${menu.menuCode}"></a></td>
            <td th:text="${menu.menuName}"></td>
            <td th:text="${menu.menuPrice}"></td>
            <td th:text="${menu.categoryCode}"></td>
            <td th:text="${menu.orderableStatus}"></td>
        </tr>
    </table>
</body>
</html>