<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conditional</title>
</head>
<body>
    <h1>제어문</h1>
    <h2>th:if, th:unless</h2>
    <p>
        th:if 는 변수 표현식을 활용해서 조건식으로 결과가 true 일 때
        해당 태그의 내용이 나오게 된다.
        th:unless 는 표현식의 조건식의 결과가 false 일 때 처리된다.
    </p>
    <p th:if="${num > 0}">넘어온 값은 0보다 큽니다.</p>
    <!-- false 여서 화면에 나타나지 않음(결과가 무시 됨) -->
    <p th:if="${num < 0}">넘어온 값은 0보다 작습니다.</p>
    <p th:unless="${num > 0}">넘어온 값은 0보다 크다.</p>
    <!-- false 여서 화면에 나타남 -->
    <p th:unless="${num < 0}">넘어온 값은 0보다 작다</p>
    <hr>
    <th:block th:if="${str == '사과'}">
        
    </th:block>
</body>
</html>