<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h1>view resolver 를 이용한 view 페이지 렌더링</h1>
    <hr>
    <h3>1. 문자열로 뷰 이름 반환하기</h3>
    <button onclick="location.href='string'">문자열로 view 반환</button>
    <hr>
    <h3>2. 문자열로 redirect 하기</h3>
    <button onclick="location.href='string-redirect'">문자열로 redirect</button>
    <hr>
    <h3>3. 문자열로 view 이름 반환하면서 redirect 시 값 유지하기</h3>
    <button onclick="location.href='string-redirect-attribute'">redirect 시 값 유지</button>
    <script>
        const flashMessage = `[[${flashMessage}]]`;
        console.log(flashMessage);
        if(flashMessage) {
            alert(flashMessage);
        }
    </script>
    <hr>
    <h3>4. ModelAndView 로 view 이름 지정해서 반환하기</h3>
    <button onclick="location.href='modelandview'">ModelAndView 객체 사용해서 반환</button>
    <hr>
    <h3>5. ModelAndView 로 redirect && 값 전달</h3>
    <button onclick="location.href='modelandview-redirect-attribute'">ModelAndView 로 redirect && attribute</button>
    <script>
        const flashMessage2 = `[[${flashMessage2}]]`;
        console.log(flashMessage2);
        if(flashMessage2) {
            alert(flashMessage2);
        }
    </script>
</body>
</html>